/****** Object:  Table [dbo].[Album]    Script Date: 29-09-2023 21:12:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Album]') AND type in (N'U'))
DROP TABLE [dbo].[Album]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 29-09-2023 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[AlbumId] [int] NOT NULL,
	[Title] [nvarchar](160) NOT NULL,
	[ArtistId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Album] ([AlbumId], [Title], [ArtistId]) VALUES (1, N'For Those About To Rock We Salute You', 1)
INSERT [dbo].[Album] ([AlbumId], [Title], [ArtistId]) VALUES (2, N'Balls to the Wall', 2)
INSERT [dbo].[Album] ([AlbumId], [Title], [ArtistId]) VALUES (3, N'Restless and Wild', 2)
GO
