/****** Object:  Table [dbo].[PlaylistTrack]    Script Date: 29-09-2023 21:12:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlaylistTrack]') AND type in (N'U'))
DROP TABLE [dbo].[PlaylistTrack]
GO
/****** Object:  Table [dbo].[PlaylistTrack]    Script Date: 29-09-2023 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistTrack](
	[PlaylistId] [int] NOT NULL,
	[TrackId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PlaylistTrack] ([PlaylistId], [TrackId]) VALUES (1, 1)
INSERT [dbo].[PlaylistTrack] ([PlaylistId], [TrackId]) VALUES (8, 1)
INSERT [dbo].[PlaylistTrack] ([PlaylistId], [TrackId]) VALUES (17, 1)
GO
