/****** Object:  Table [dbo].[Invoice]    Script Date: 29-09-2023 21:12:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Invoice]') AND type in (N'U'))
DROP TABLE [dbo].[Invoice]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 29-09-2023 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[BillingAddress] [nvarchar](70) NULL,
	[BillingCity] [nvarchar](40) NULL,
	[BillingState] [nvarchar](40) NULL,
	[BillingCountry] [nvarchar](40) NULL,
	[BillingPostalCode] [nvarchar](10) NULL,
	[Total] [numeric](10, 2) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Invoice] ([InvoiceId], [CustomerId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (1, 2, CAST(N'2009-01-01T00:00:00.000' AS DateTime), N'Theodor-Heuss-Straße 34', N'Stuttgart', NULL, N'Germany', N'70174', CAST(1.98 AS Numeric(10, 2)))
INSERT [dbo].[Invoice] ([InvoiceId], [CustomerId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (2, 4, CAST(N'2009-01-02T00:00:00.000' AS DateTime), N'Ullevålsveien 14', N'Oslo', NULL, N'Norway', N'0171', CAST(3.96 AS Numeric(10, 2)))
INSERT [dbo].[Invoice] ([InvoiceId], [CustomerId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (3, 8, CAST(N'2009-01-03T00:00:00.000' AS DateTime), N'Grétrystraat 63', N'Brussels', NULL, N'Belgium', N'1000', CAST(5.94 AS Numeric(10, 2)))
GO
